# Exemplo de configuração para conexão com o banco Azure PostgreSQL
# Substitua os valores abaixo pelo seu usuário, senha, host e nome do banco.
DATABASE_URL=postgresql://adminopet%40ads:opet%40123@ads.postgres.database.azure.com:5432/postgres?sslmode=require
